<div class="ui-g container">
  <div class="ui-g-12">
    <h1> Pessoas </h1>
  </div>

  <div class="ui-g-12 ui-fluid">
    <label>Name</label>
    <input pInputText type="text"/>
  </div>

  <div class="ui-g-12">
    <button pButton type="submit" label="Search"></button>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="people" [rows]="5" [paginator]="true" [responsive]="true">
        <p-column field="name" header="Name"></p-column>
        <p-column field="city" header="City"></p-column>
        <p-column field="dueDate" header="Due Date" styleClass="col-data"></p-column>
        <p-column field="payDate" header="Payment Date" styleClass="col-data"></p-column>
        <p-column field="status" header="Status" styleClass="col-valor">
          <ng-template let-person="rowData" pTemplate="body">
            <span [style.color]="person.status === 'INACTIVE' ? 'red' : 'blue'">{{person.status}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" showDelay="500"></a>
            <button pButton icon="fa-trash" pTooltip="Delete" tooltipPosition="top" showDelay="500"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g-12">
    <a pButton label="New Person"></a>
  </div>
</div>
